<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
>
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Donation manager</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Donation manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" th:if="${user == null}">
                <!-- Для неаутентифицированных пользователей -->
                <li class="nav-item" >
                    <a class="nav-link" href="/login">Войти</a>
                </li>
                <li class="nav-item" th:if="${user == null}">
                    <a class="nav-link" href="/register">Регистрация</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" th:if="${user != null}">
                <!-- Для аутентифицированных пользователей -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile" th:text="${user.username}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donations">Донаты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Топ донатеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div class="content">
        <main layout:fragment="main">

        </main>
    </div>
    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>Ваш копирайт здесь</p>
            <p>Дополнительная информация о вашем сайте</p>
        </div>
    </footer>
</body>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>